<!-- partials/sidebar.html -->
<aside class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <img src="../assets/img/logo.png" alt="Logo" class="logo-full">
        <img src="../assets/img/logo-small.jpg" alt="Logo small" class="logo-collapsed">
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li><a href="index.html" class="active"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
            <li><a href="submit-manuscript.html"><i class="fas fa-plus-circle"></i> <span>Create Submission</span></a></li>
            <li><a href="my-submissions.html"><i class="fas fa-eye"></i> <span>View Submission</span></a></li>

            <li id="documentDropdownLi">
                <button class="dropdown-toggle" id="documentDropdown">
                    <span class="title"><i class="fas fa-cog"></i></i><span>Settings</span></span>
                </button>
                <div class="dropdown-menu" id="documentMenu">
                    <a href="#"><i class="fas fa-lock"></i> <span>Password Settings</span></a>
                    <!-- <a href="#"><i class="fas fa-edit"></i> <span>Update Document</span></a>
                    <a href="#"><i class="fas fa-trash"></i> <span>Delete Document</span></a> -->
                </div>
            </li>

            <!-- <li><a href="#"><i class="fas fa-cog"></i> <span>Settings</span></a></li> -->
            <li><a href="#" id="themeToggle"><i class="fas fa-moon"></i> <span id="themeLabel">Theme</span></a></li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <a href="#" class="logout-btn" id="logoutSidebar"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
    </div>
</aside>