<!-- partials/sidebar-items/admin.html -->
<li><a href="dashboard.html" data-id="admin-dashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
<li><a href="journal.html" data-id="journal"><i class="fas fa-clipboard-check"></i><span>Journal</span></a></li>
<li><a href="certificate.html" data-id="certificate"><i class="fas fa-certificate"></i> <span>Certificate</span></a></li>
<li id="usersDropdownLi">
    <button class="dropdown-toggle" data-id="manage-users" aria-expanded="false">
        <span class="title"><i class="fas fa-users"></i><span>Manage Users</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="create-user.html" data-id="create-user">Create Users</a>
        <a href="users.html" data-id="view-user">View Users</a>
    </div>
</li>
<li id="usersDropdownLi">
    <button class="dropdown-toggle" data-id="manage-journals" aria-expanded="false">
        <span class="title"><i class="fas fa-tachometer-alt"></i><span>Manage Scopes</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="create-scope.html" data-id="create-scope">Create Scopes</a>
        <a href="view-scopes.html" data-id="view-scope">View Scopes</a>
    </div>
</li>
<li id="DropdownLi">
    <button class="dropdown-toggle" data-id="manage-issue" aria-expanded="false">
        <span class="title"><i class="fas fa-book-open"></i><span>Issue Management</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="create-issue.html" data-id="create-issue">Create Issue</a>
        <a href="view-issues.html" data-id="view-issues">View Issues</a>
    </div>
</li>
<li id="adminSettingsLi">
    <button class="dropdown-toggle" data-id="adminSettings" aria-expanded="false">
        <span class="title"><i class="fas fa-cog"></i><span>Settings</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="profile.html" data-id="admin-profile">Profile</a>
        <a href="review-number.html" data-id="review-number">Review Number</a>
        <a href="change-password.html" data-id="change-password">Change Password</a>
    </div>
</li>









