<li>
    <a href="dashboard.html" data-id="dashboard">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<li>
    <a href="submit-manuscript.html" data-id="create-submission">
        <i class="fas fa-plus-circle"></i>
        <span>Create Submission</span>
    </a>
</li>

<li>
    <a href="my-submissions.html" data-id="view-submission">
        <i class="fas fa-eye"></i>
        <span>View Submission</span>
    </a>
</li>

<li>
    <a href="published.html" data-id="published">
        <i class="fas fa-eye"></i>
        <span>Published</span>
    </a>
</li>

<li id="authorSettingsLi">
    <button class="dropdown-toggle" data-id="settings" aria-expanded="false">
        <span class="title"><i class="fas fa-cog"></i><span>Settings</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="change-password.html" data-id="change-password">Change Password</a>
        <a href="profile.html" data-id="author-profile">Profile</a>
    </div>
</li>