<li><a href="editor-dashboard.html" data-id="dashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
<li id="articlesDropdownLi">
    <button class="dropdown-toggle" data-id="manage-articles" aria-expanded="false">
        <span class="title"><i class="fas fa-book-open"></i><span>Articles</span></span>
    </button>
    <div class="dropdown-menu">
        <a href="review-queue.html" data-id="review-queue">Review Queue</a>
        <a href="published.html" data-id="published">Published</a>
    </div>
</li>
<li><a href="editor-settings.html" data-id="editor-settings"><i class="fas fa-cog"></i> <span>Settings</span></a></li>